---
layout: default
---
{% include blog_header.html %}
<div id="post-list-container">
	{% for post in paginator.posts %}

		{% include list_item_post.html post=post %}
		{% assign last = paginator.posts | last %}
		{% if post != last %}
			<div class="post-list-delimiter"></div>
		{% endif %}
	{% endfor %}

	<!-- TODO: pagination should inserted here -->

	<div id="post-list-pagination-wrapper">
		{% if paginator.previous_page %}
			<a class="pagination-link pagination-link-prev" href="{{ paginator.previous_page_path }}">≪ 이전 페이지</a>
		{% endif %}
		{% if paginator.next_page %}
			<a class="pagination-link pagination-link-next" href="{{ paginator.next_page_path }}">다음 페이지 ≫</a>
		{% endif %}
	</div>
</div>