body {
  font-family: 'NanumGothic, 나눔고딕, "Malgun Gothic", 맑은고딕, "Apple SD Gothic Neo", Meiryo, Dotum, 돋움, sans-serif';
}
#header {
  width: 100%;
  height: 5vh;
  min-height: 64px;
  background: #0097a7;
  padding-left: 16px;
  padding-right: 16px;
}
div#header-wrapper-logo {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#header-wrapper-nav {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav#header-nav {
  display: table-cell;
  vertical-align: middle;
}
a.header-nav-item {
  text-align: center;
  font-size: 1.4em;
  color: white;
}
a.header-nav-item:hover {
  text-decoration: none;
  color: #ff5722;
}
a.header-nav-item:focus {
  text-decoration: none;
}
a.header-nav-item:link {
  text-decoration: none;
}
a.header-nav-item:active {
  text-decoration: none;
}
a.header-nav-item:visited {
  text-decoration: none;
}
div#content {
  min-height: -webkit-fill-available;
}
#footer {
  width: 100%;
  height: 96px;
  background: #56c8d8;
  display: table;
}
#footer > .text-copyright {
  color: white;
  font-size: 1.2em;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10%;
}
#footer .footer-ic-contact-wrapper {
  width: 1.0em;
  display: table-cell;
  vertical-align: middle;
  padding-right: 1.3em;
}
#footer .footer-ic-contact-wrapper .footer-ic {
  width: 32px;
  height: 32px;
}
.header-nav-item-delimiter {
  text-align: center;
  font-size: 1.4em;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.sub-menu-header {
  width: 100%;
  height: 320px;
  background: #006978;
  display: table;
}
.sub-menu-title {
  color: white;
  font-size: 3.6em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 48px;
}
#post-list-container {
  width: 75%;
  margin: auto;
  text-align: center;
}
.post-list-delimiter {
  background: #bdbdbd;
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.post-list-item-title-wrapper {
  text-align: left;
}
.post-list-item-title-wrapper:hover,
.post-list-item-title-wrapper:link,
.post-list-item-title-wrapper:visited,
.post-list-item-title-wrapper:active,
.post-list-item-title-wrapper:focus {
  text-decoration: none;
}
p.post-list-item-description {
  text-align: left;
}
.post-list-item-title {
  color: #000000;
}
.post-list-item-title:hover {
  color: #828282;
}
.post-list-item-date {
  text-align: left;
  color: #bdbdbd;
}
#post-content-wrapper {
  width: 75%;
  margin: auto;
}
.post-content-title {
  color: #000000;
}
.post-content-date {
  text-align: left;
  color: #bdbdbd;
}
.back-to-list {
  font-size: 1.3em;
  margin-top: 2.0em;
}
#main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content-box {
  width: 100%;
  flex: 1;
}
.main-recent-posts-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-recent-post {
  border: 2px solid gray;
}
/*# sourceMappingURL=style.css.map */