{% include head.html %}
<body>
	<nav class="navbar navbar-expand px-3" id="header">
		<!-- header content -->
		{% if site.logo %}
		<a id="navbar-brand" class="nav-logo" href="/" >
			<img src="{{site.logo}}" alt="{{site.name}}"/>
		</a>
		{% else %}
		<a class="navbar-brand nav-logo" href="/">{{site.name}}</a>
		{% endif %}

		<!-- <div id="header-wrapper-nav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link nav-item-link" href="/">Blog</a>
				</li>
				<li class="nav-item">
						<a class="nav-link nav-item-link" href="/about">About</a>
				</li>
			</ul>
		</div> -->

	</nav>
	<div id="content">
		{{ content }}
	</div>

	<footer id="footer">
			<h6 class="text-copyright">Copyright 2017-{{ 'now' | date: '%Y' }} Latera All right reserved</h6>

			{% if site.github_username %}
			<span class="footer-ic-contact-wrapper"><a href="https://github.com/{{site.github_username}}"><img class="footer-ic" src="/assets/img/github-logo.svg"/></a></span>
			{% endif %}
			
			{% if site.mail %}
			<span class="footer-ic-contact-wrapper"><a href="mailto:{{site.mail}}"><img class="footer-ic" src="/assets/img/gmail.svg"/></a></span>
			{% endif %}
	</footer>
	
</body>
</html>
