<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>


	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
	<header id="header">
		<!-- header content -->
		{% if site.logo %}
		<div id="header-wrapper-logo">
			<a id="header-logo" href="/" >
				<img src="{{site.logo}}" alt="{{site.name}}"/>
			</a>
		</div>
		{% endif %}

		<div id="header-wrapper-nav">
			<nav id="header-nav">
				<a class="header-nav-item" href="/blog">Blog</a>
			</nav>
		</div>

	</header>
	<div id="content">
		{{ content }}
	</div>

	<footer id="footer">
			<h6 class="text-copyright">Copyright 2017-{{ 'now' | date: '%Y' }} Latera All right reserved</h6>

			{% if site.github_username %}
			<span class="footer-ic-contact-wrapper"><a href="https://github.com/{{site.github_username}}"><img class="footer-ic" src="/assets/img/github-logo.svg"/></a></span>
			{% endif %}
			
			{% if site.mail %}
			<span class="footer-ic-contact-wrapper"><a href="mailto:{{site.mail}}"><img class="footer-ic" src="/assets/img/gmail.svg"/></a></span>
			{% endif %}
	</footer>
	
</body>
</html>
